<button data-controller="theme-toggle" data-action="click->theme-toggle#toggle">
  <img
    src=""
    alt="Toggle theme"
    data-theme-toggle-target="icon"
    width="24"
    height="24"
  />
</button>
