<button
  data-controller="theme-toggle"
  data-action="theme-toggle#toggle"
  class="theme-toggle"
>
  <img
    data-theme-toggle-target="icon"
    src=""
    alt="Toggle theme"
    width="24"
    height="24"
  />
</button>
