@import url('palette.css');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import 'components/*';

body[data-theme='dark'] {
  --bg: var(--grey8);
  --bg-contrast: var(--grey6);
  --fg: var(--grey1);
  --fg-bright: var(--white);
  --fg-muted: var(--grey1);
}

body[data-theme='light'] {
  --bg: var(--grey0);
  --bg-contrast: var(--grey2);
  --fg: var(--grey7);
  --fg-bright: var(--black);
  --fg-muted: var(--grey5);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: var(--fg);
  background-color: var(--bg);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1,
h2,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  color: var(--fg);
}

a:hover {
  color: var(--fg-bright);
}

button {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  font-size: inherit;
  cursor: pointer;
}

.table {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.row-group {
  display: flex;
  flex-direction: column;
}

.row,
.header {
  display: flex;
  align-items: center;
  border-bottom: solid 1.5px var(--bg-contrast);
}

.header {
  height: 25px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.cell:first-child {
  flex: 2;
  justify-content: flex-start;
  gap: 8px;
  text-decoration: none;
}

.cell img {
  height: 40px;
  aspect-ratio: 1;
}

.cell a:not(:hover):not(:active) {
  text-decoration: none;
}

.cell .at {
  font-size: 0.75rem;
  color: var(--fg-muted);
}

.row .cell:not(:first-child) {
  font-variant-numeric: tabular-nums;
  cursor: pointer;
  border-radius: 6px;
  border: solid 2px transparent;
}

.row .cell:not(:first-child):hover {
  color: var(--fg-bright);
  border-color: var(--blue5);
}

.header .cell {
  font-size: 0.75rem;
  color: var(--fg-muted);
  text-transform: uppercase;
}
