@import url('palette.css');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body[data-theme='dark'] {
  --bg: var(--grey8);
  --bg-contrast: var(--grey7);
  --fg: var(--grey0);
  --fg-muted: var(--grey3);
}

body[data-theme='light'] {
  --bg: var(--grey0);
  --bg-contrast: var(--grey1);
  --fg: var(--black);
  --fg-muted: var(--grey3);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: var(--fg);
  background-color: var(--bg);
  font-size: 1rem;
}

h1,
h2,
h4,
p {
  margin: 0;
  padding: 0;
}

.page {
  padding: 0 16px;
}

.game-row {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: solid orange;
}

.matchup, .stats {
  display: flex;
  gap: 8px;
  align-items: center;
}

.matchup img {
  height: 40px;
}
