:root {
  --red0: #ff748f;
  --red1: #ff5d7c;
  --red2: #ff4569;
  --red3: #ff2e57;
  --red4: #ff1744;
  --red5: #e6153d;
  --red6: #cc1236;
  --red7: #b31030;
  --red8: #990e29;

  --pink0: #ffacd3;
  --pink1: #ff9ecb;
  --pink2: #ff91c4;
  --pink3: #ff83bc;
  --pink4: #ff75b5;
  --pink5: #e669a3;
  --pink6: #cc5e91;
  --pink7: #b3527f;
  --pink8: #99466d;

  --purple0: #d0b5f3;
  --purple1: #c8a9f1;
  --purple2: #c09def;
  --purple3: #b890ed;
  --purple4: #b084eb;
  --purple5: #9e77d4;
  --purple6: #8d6abc;
  --purple7: #7b5ca5;
  --purple8: #6a4f8d;

  --blue0: #8fcbfb;
  --blue1: #7dc3fb;
  --blue2: #6abafa;
  --blue3: #58b2fa;
  --blue4: #45a9f9;
  --blue5: #3e98e0;
  --blue6: #3787c7;
  --blue7: #3076ae;
  --blue8: #296595;

  --teal0: #75fbe8;
  --teal1: #5efbe4;
  --teal2: #47fae0;
  --teal3: #30fadc;
  --teal4: #19f9d8;
  --teal5: #17e0c2;
  --teal6: #14c7ad;
  --teal7: #12ae97;
  --teal8: #0f9582;

  --green0: #66f0ad;
  --green1: #4dee9f;
  --green2: #33eb91;
  --green3: #1ae984;
  --green4: #00e676;
  --green5: #00cf6a;
  --green6: #00b85e;
  --green7: #00a153;
  --green8: #008a47;

  --orange0: #ffd4a7;
  --orange1: #ffcd98;
  --orange2: #ffc689;
  --orange3: #ffbf7b;
  --orange4: #ffb86c;
  --orange5: #e6a661;
  --orange6: #cc9356;
  --orange7: #b3814c;
  --orange8: #996e41;

  --grey0: #e6e6e6;
  --grey1: #cdcdcd;
  --grey2: #bbbbbb;
  --grey3: #757575;
  --grey4: #676b79;
  --grey5: #3e4250;
  --grey6: #373b41;
  --grey7: #31353a;
  --grey8: #2a2c2d;

  --white: #ffffff;
  --black: #222223;
}
